.sortWrapper {
  width: 1190px;
  margin: 0 auto;
  padding-top: 30px;
}

.sortWrapper .movieList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.sortWrapper .movieList >div {
  margin: 0 52px;
  margin-bottom: 18px;
}
.sortWrapper .loading {
  width: 100%;
  min-height: 500px;
}

.sortWrapper .noData {
  width: 100%;
  margin-top: 40px;
  font-size: 22px;
  color: red;
  text-align: center;
}