.not-found{
    width: 100vw;
    height: 100vh;
    background: url("../../assets/img/404.jpg") center center no-repeat;
    background-size: cover;
}

h2{
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 100px;
    color: rgb(71, 252, 146);
    font-weight: normal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text{
    position: absolute;
    top: 48%;
    left: 20%;
    font-size: 40px;
    color: rgb(250, 144, 95);
    font-weight: bold;
}

/* .ant-btn{
    position: absolute;
    top: 60%;
    left: 20%;
    background-color: #87b1d9;
    color: #222;
    font-weight: bold;
    border-radius: 10px;
} */