.box{
    width: 1190px;
    margin: 0 auto;
}
.actorDetail{
    padding-top: 30px;
}
.content{
    width: 1190px;
    margin: 0 auto;
}
.content h1{
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 10px;
}
.subject{
    display: flex;
}
.img img{
    width: 160px;
    height: 250px;
}

.info {
    padding-left: 10px;
    word-wrap: break-word;
    width: 300px;
}
.info>span{
    display: block;
    padding-bottom: 5px;
    font-size: 16px;
}
.rate{
    widows: 150px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
}
.rate h3{
    color: #494949;
    padding-bottom: 6px;
}

.introduction{
    padding-top: 20px;
}

.title{
    font-size: 20px;
    padding-bottom: 25px;
    color:#007722
}

.describ{
    text-indent: 4rem;
    font-size: 16px;
}

/* 演员简介 */
.flex{
    display: flex;
    flex-wrap: nowrap;
    width: 1190px;
    margin: 0 auto;
}
.box{
    align-items:stretch;
    padding: 0 5px;
}
.celebrity{
    font-size: 16px;
    padding-top: 20px;
    margin: 0 10px;
}
.h3{
    width: 1190px;
    margin: 0 auto;
    color: #007722;
    font-size: 18px;
    font-weight: 200;
    padding-top: 30px;
}

.avatar img{
    width: 105px;
    height: 150px;
}

.infos{
    flex-wrap: wrap;
}
.name{
    padding: 5px 0px;
    color: black;
    overflow: hidden;
    text-align: center;
}
.role{
    padding-top: 5px;
    color: #494949;
    text-align: center;
}

.description,
.winWorks,
.work{
    margin-top: 30px;
    border-top: 1px dashed #ccc;
}

.description h2,
.winWorks h2,
.work h2{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 10px;
}

.description p{
    text-indent: 4rem;
    font-size: 14px;
}

.winWorks{
    margin-top: 30px;
    border-top: 1px dashed #ccc;
}

.itemWork{
    padding-top: 10px;
}

.itemWork .item{
    margin-right: 5px;
    font-size: 14px;
}

.movie{
    display: flex;
}

.movie img{
    width: 115px;
    height: 170px;
}
.works{
    flex-basis: 260px;
}
.title{
    font-size: 12px;
    margin-right: 3px;
}
.text{
    width: 115px;
    padding-top: 7px;
    text-align: center;
}

.rate{
    color: rgb(201, 198, 33);
    font-size: 8px;
}