.header{
    height: 80px;
    line-height: 80px;
    background-color: #f0f3f5;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header .logo{
    flex-grow: 1;
    margin-left: 25px;
}

.header .logo img{
    width: 190px;
    height: 40px;
}

.header .search{
    width: 100px;
    flex-grow: 2;
    margin-right: 25px;
    
}

.header .btn{
    vertical-align: middle;
}

.header .navList{
    flex-grow: 1;
}

.header .navList ul{
    display: flex;
}
.header .navList li{
    flex-grow: 1;
}
