.movieWrapper{
    position: relative;
    width: 115px;
}
.img{
    width: 100%;
    height: 161px;
}
.title{
    display: block;
    text-align:center;
    padding:10px 0px 5px 0px;
}

.rate{
    text-align:center;
}
/* 电影图片hover之后显示的内容 */
.hover{
    position: absolute;
    width: 180%;
    background-color: rgb(250, 250, 249);
    border: 1px solid #ccc;
    top: 0;
    left: 120%;
    padding:15px;
    z-index: 99999 !important;
}

.date{
    padding-left: 15px;
    font-size: 14px;
    color: #ccc;
}
.rates{
    text-align: left;
}

.con{
    padding-bottom: 20px;
    font-size: 18px;
}

.tr{
    padding: 10px 0;
}

.director{
    padding: 5px 0;
}



